*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(222,226,230);
    font-family: system-ui, -apple-system;
}

.container{
    height: 100vh;
}

.subContainer{
    height: 35rem;
    background: url(/WebCraft/WebCraft/assets/img/freestock_73214050.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backContainer{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.712);
}

.subBackContainer{
    height: 3rem;
}

.back{
    height: 100%;
    width: 4rem;
    margin-left: 1rem;
}

.backButton{
    height: 100%;
    cursor: pointer;
    border-radius: 0 0 0.5rem 0.5rem;
}

.backButton:hover{
    background-color: rgb(192, 191, 191);
}

.textContainer{
    height: 100%;
    padding: 0.5rem;
    overflow: auto;
}

.text{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.logoContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.subLogoContainer{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyRight{
    height: 0.7rem;
}

.textContainer1{
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.MemberContainer{
    height: 20rem;
}

.systemName{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.memberPicContainer{
    height: 17rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    overflow: auto;
    display: flex;
    align-items: center;
}

.subMemberPicContainer{
    height: 13rem;
    width: 12rem;
}

.imageContainer{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subImageContainer{
    height: 100%;
    width: 7rem;
    border-radius: 5rem;
    border: solid black 1px;
}

.subImageContainer1{
    height: 100%;
    width: 7rem;
    border-radius: 5rem;
    border: solid black 1px;
}

.image{
    border-radius: 5rem;
    height: 100%;
    width: 100%;
}

.infoContainer{
    height: 6rem;
    width: 100%;
}

.subInfoContainer{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(177, 177, 177);
    border: solid black 1px;
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
}

.subInfoContainer1{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(214, 214, 214);
    border: solid black 1px;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
}

@media only screen and (min-width: 986px){
    .memberPicContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}