.container1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer5{
    height: 20rem;
    width: 15rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.5rem;
    border: solid gray 1px;
    padding: 0.5rem;
}

.imageContainer1{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subImageContainer3{
    height: 100%;
    width: 8rem;
    background-color: snow;
    border-radius: 0.5rem;
}

.image3{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.infoContainer{
    height: 8rem;
    padding: 0.5rem;
    row-gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.subInfoContainer{
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: snow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    overflow: auto;
}

.buttonContainer{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    height: 2.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    background-color: rgb(152,152,152);
    transition: all 0.15s;
    border: solid gray 1px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    background-color: rgb(189,189,189);
}

.button:active{
    background-color: rgb(124,124,124);
}