*{
    margin: 0;
    padding: 0;
}

body{
    background: radial-gradient(rgb(255,252,0, 0.4), rgb(231, 139, 0));
    font-family: system-ui, -apple-system;
}

.container{
    height: 100vh;
}

.subContainer{
    height: 35rem;
    background: url(/WebCraft/WebCraft/assets/img/se.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backContainer{
    height: 100%;
    background-color: rgba(231, 139, 0, 0.228);
}

.subBackContainer{
    height: 3rem;
}

.back{
    height: 100%;
    width: 4rem;
    margin-left: 1rem;
}

.backButton{
    height: 100%;
    cursor: pointer;
    border-radius: 0 0 0.5rem 0.5rem;
}

.backButton:hover{
    background-color: rgb(192, 191, 191);
}

.textContainer{
    height: 100%;
    width: 80%;
    padding: 0.5rem;
    overflow: auto;
    margin: 2rem auto;
}

.text{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.logoContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.subLogoContainer{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 2.5rem;
    width: 2.5rem;
}

.copyRight{
    height: 0.7rem;
}

.textContainer1{
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.MemberContainer{
    height: 25rem;
}

.systemName{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 2rem auto;
    font-family: Impact;
    text-align: center;
}

.memberPicContainer{
    height: 19rem;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    overflow: auto;
    display: flex;
    align-items: center;
}

.subMemberPicContainer{
    height: 13rem;
    width: 12rem;
    
}

.imageContainer{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subImageContainer{
    height: 100%;
    width: 8rem;
    border-radius: 5rem;
    border: solid black 5px;
    background-color: #fff;
}

.subImageContainer1{
    height: 100%;
    width: 7rem;
    border-radius: 5rem;
    border: solid black 1px;
}

.image{
    border-radius: 5rem;
    height: 100%;
    width: 100%;
}

.infoContainer{
    height: 6rem;
    width: 100%;
    margin-top: 0.5rem;
}

.subInfoContainer{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: solid #737373 1px;
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
}

.subInfoContainer1{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:#f5f3f3;
    border: solid #737373 1px;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
}

@media only screen and (min-width: 986px){
    .memberPicContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}