*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(222,226,230);
}

.container{
    /* outline: red dashed 1px; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subContainer{
    /* outline: red dashed 1px; */
    height: 80%;
    width: 90%;
    border-radius: 1rem;
    background-color: rgb(224, 224, 224);
    border: solid gray 1px;
    overflow: auto;
}

.textContainer{
    /* outline: red dashed 1px; */
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid gray 1px;
    margin-bottom: 0.5rem;
}

.text{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.warrantyContainer{
    /* outline: red dashed 1px; */
    height: 21rem;
    border-bottom: solid gray 1px;
}

.imageContainer{
    /* outline: red dashed 1px; */
    height: 13rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subImageContainer{
    /* outline: red dashed 1px; */
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadImage{
    /* outline: red dashed 1px; */
    height: 100%;
    width: 10rem;
    background-color: snow;
    border: #ddd solid 0.2rem;
}

.image{
    height: 100%;
    width: 100%;
}

.uploadButtonContainer{
    /* outline: red dashed 1px; */
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadButton{
    color: transparent;
    margin-left: 37%;
}

.subWarrantyContainer{
    /* outline: red dashed 1px; */
    height: 8rem;
}

.startWarrantyContainer{
    /* outline: red dashed 1px; */
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startWarranty{
    height: 3rem;
    width: 87%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.startWarranty1{
    height: 3rem;
    width: 89%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.budgetContainer{
    /* outline: red dashed 1px; */
    height: 8.5rem;
    border-bottom: solid gray 1px;
    margin-bottom: 0.5rem;
}

.subBudgetContainer{
    /* outline: red dashed 1px; */
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget{
    height: 3rem;
    width: 87%;
    padding-left: 1rem;
    font-size: 1.2rem;
    border: solid gray 1px;
    border-radius: 0.5rem;
}

.howToUseContainer{
    height: 15rem;
    /* outline: red dashed 1px; */
}

.subHowToUseContainer{
    /* outline: red dashed 1px; */
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputHowToUse{
    height: 95%;
    width: 87%;
    padding-left: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.buttonContainer{
    /* outline: red dashed 1px; */
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem;
}

.button{
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
    background-color: rgb(152,152,152);
    cursor: pointer;
}

.button:hover{
    background-color: rgb(189,189,189);
}

.button:active{
    background-color: rgb(124,124,124);
}

/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .uploadButton{
        margin-left: 20.3%;
    }
}


/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .subContainer{
        width: 50rem;
    }

    .uploadButton{
        margin-left: 20.3%;
    }
}

/*pc*/
@media only screen and (min-width: 1441px){
    .subContainer{
        width: 50rem;
    }

    .uploadButton{
        margin-left: 20.3%;
    }
}