*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system;
}

.container{
    /* outline: red dashed 1px; */
    height: 100vh;
    width: 100%;
    background-color: snow;
    display: flex;
    flex-direction: row;
}

.sideBarContainer{
    /* outline: red dashed 1px; */
    width: 4rem;
    position: fixed;
    height: 100%;
    background-color: rgb(2, 116, 200);
    /* background: radial-gradient(rgb(255,252,0, 0.9), rgb(231, 139, 0)); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.subSideBarContainer{
    /* outline: red dashed 1px; */
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subSideBarContainer .back-icon{
    height: 2%;
    width: 40%;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.15s;
    margin-top: -18rem;
    position: absolute;
    filter: invert(100%);
}

.image{
    /* outline: red dashed 1px; */
    height: 80%;
    width: 70%;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.15s;
    filter: invert(100%);
}


.back-icon:hover,
.image:hover{
    background-color: rgba(255, 255, 255, 0.297);
    padding: 0.4rem;
}

.back-icon:active,
.image:active{
    background-color: rgba(2, 117, 200, 0.76);
}

a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{
    /* outline: red dashed 1px; */
    height: 98%;
    width: 90%;
    margin-left: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.graphContainer{
    /* outline: red dashed 1px; */
    height: 10rem;
    width: 95%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(207, 224, 236);
    gap: 0.1rem;
    overflow-x: auto;
}

.subGraphContainer{
    /* outline: red dashed 1px; */
    height: 9rem;
    width: 9rem;
    border-radius: 0.5rem;
    background-color: snow;
}

.graphContainer1, .graphContainer2{
    /* outline: red dashed 1px; */
    width: 95%;
    margin-top: 1rem;
}

.subGraphContainer1, .subGraphContainer2{
    /* outline: red dashed 1px; */
    height: 20rem;
    border-radius: 0.5rem;
    background: rgb(207, 224, 236);
    margin-bottom: 0.5rem;
    margin: 0.5rem auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.subGraphContainer4, .subGraphContainer3{
    /* outline: red dashed 1px; */
    height: 20rem;
    border-radius: 0.5rem;
    background: rgb(207, 224, 236);
    margin: 0.5rem auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9999;
}


/*laptop*/
@media only screen and (min-width: 1025px){
    .graphContainer1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .subGraphContainer1{
        width: 100%;
        margin: 0;
    }

    .subGraphContainer2{
        width: 60rem;
        margin-left: 1rem;
        margin-bottom: 0;
    }

    .graphContainer2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .subGraphContainer4{
        width: 30rem;
    }

    .subGraphContainer3{
        width: 100%;
        margin-left: 1rem;
    }
}