.inputPassContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

input{
    height: 3rem;
    width: 90%;
    padding-left: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
}

.subContainer1{
    height: 14rem;
    width: 25rem;
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1.rem;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    border: solid gray 1px;
}

.button{
    width: 10rem;
}