*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.sideBarContainer{
    height: 100%;
    width: 4rem;
    background-color: rgb(2, 116, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
}

.subSideBarContainer{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s;
    cursor: pointer;
}

.subSideBarContainer:hover{
    background-color: rgb(2, 82, 139);
}

.subSideBarContainer:active{
    background-color: rgb(2, 116, 200);
    transform: scale(0.9);
}

.image{
    height: 2rem;
    filter: invert(100%);
}

.subContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.graphContainer{
    width: 100%;
}

.subGraphContainer{
    height: 10rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphInfoContainer{
    height: 8rem;
    width: 100%;
    background: rgb(207, 224, 236);
    border-radius: 0.5rem;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.subGraphInfoContainer{
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
    background-color: snow;
}

.subGraphContainer1{
    height: 40.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.graphInfoContainer1{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.graphInfoContainer2{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.subGraphInfoContainer1{
    height: 19rem;
    width: 20.1rem;
    border-radius: 0.5rem;
    background: rgb(207, 224, 236);
}

.subGraphInfoContainer2{
    height: 19rem;
    width: 100%;
    border-radius: 0.5rem;
    background: rgb(207, 224, 236);
    padding: 0 1rem;
}

.graphContainer1{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.subGraphContainer2{
    height: 8rem;
    width: 100%;
    background: rgb(207, 224, 236);
    border-radius: 0.5rem;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px){
    .subGraphContainer1{
        display: flex;
        flex-direction: row;
    }

    .graphInfoContainer1{
        width: 100%;
    }

    .subGraphContainer1{
        height: 20rem;
    }
}

/*pc*/
@media only screen and (min-width: 1441px){
    .subGraphContainer1{
        display: flex;
        flex-direction: row;
    }

    .graphInfoContainer1{
        width: 100%;
    }

    .subGraphContainer1{
        height: 20rem;
    }

    .subContainer{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .graphContainer1{
        height: 100%;
        display: flex;
    }

    .subGraphContainer2{
        height: 98%;
        width: 8rem;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .graphContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
}