.buttonContainer1{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2{
    height: 2.5rem;
    width: 15rem;
    border: solid gray 1px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.15s;
    background: linear-gradient(to right, rgb(255,252,0), rgb(231, 139, 0));
    cursor: pointer;
}

.button2:hover{
    background: linear-gradient(to right, rgb(180, 177, 3), rgb(153, 92, 1));
    color: white;
}

.button2:active{
    background: linear-gradient(to right, rgb(255,252,0), rgb(231, 139, 0));
}