@media only screen and (max-width: 600px) {
    .tableContainer{
        height: 21.8rem;
    }
}

 .searchCon {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-items: center;
}

.searchCon #searchInput{
    height: 2rem;
    width: 15rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    border: 1px solid #a6a6a6;
    padding-left: 1rem;
}

.sortContainer{
    margin-left: 1rem;
}

#reportCotainer{
    margin: 1.5rem auto;
    width: 90%;
}

.list.selected {
    background-color: #fff;
}

/* container list */
.list{
    background-color: rgb(255, 255, 255); 
    height: 5rem; 
    border: 1px solid #a6a6a6;
    display: flex;
    align-items: center;
    cursor: pointer;
   
}

.list .sender-img{
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.sender-img img{
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
}

.label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.label span{
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 0.5rem;
}


.right-text{
    display: flex;
}

.label p{
    font-size: 1.2rem;
}

.time {
    align-self: flex-end;
    text-align: end;
    margin-right: 3rem;
    font: 1.5rem;
}

i{
    margin-right: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
}

/* dropdown */
.ellipsis-button {
    background-color: transparent;
    border: none;
}
.ellipsis-button .dropdownContainer {
    display: flex;
    position: absolute;
    background-color: #f0f0f0;
    padding: 1rem 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
    right: 12rem;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.ellipsis-button .dropdownContainer.visible {
    display: block;
}

.dropdownContainer h3 {
    color: #797979;
    font-weight: 500;
    max-width: 100%;
    border-bottom: 1px #adacac solid;
    padding-bottom: 0.5rem;
}

.dropdownContainer .details{
    margin-top: 1rem;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 1rem;
}

.details p,
.details span{
    font-size: 0.8rem;
    column-gap: 1rem;
    color: #797979;
}

.details span{
    margin-left: 3rem;
    font-weight: 500;
    color: #333;
}