*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgb(231, 139, 0), rgb(255, 238, 0));
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.subContainer{
    height: 85%;
    width: 90%;
    background-color: rgb(224, 224, 224);
    border: solid black 1px;
    position: relative;
}

.logoContainer{
    height: 5rem;
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: solid gray 1px;
}

.subLogoContainer{
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 90%;
}

.nameContainer{
    height: 100%;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.logInFormContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.subLogInFormContainer{
    height: 28rem;
    width: 90%;
    border-radius: 1rem;
    background-color: rgb(238, 238, 240);
    margin-top: 4rem;
    border: solid gray 1px;
}

.logIntextContainer{
    height: 4rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logIntext{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: gray;
}

.subLogInFormContainer1{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 3rem;
}

.inputContainer{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
}

.inputUserName{
    height: 2.5rem;
    width: 90%;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(206, 206, 206);
    padding-left: 0.5rem;
    font-size: 1rem;
}

.rememberMeContainer{
    height: 4rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.rememberMe{
    color: gray;
}

.checkBox{
    margin-right: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

.signInButtonContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInButton{
    height: 3rem;
    width: 19rem;
    border-radius: 0.5rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.15s;
}

.signInButton:hover{
    background-color: rgb(78, 78, 78);
}

.signInButton:active{
    background-color: rgb(128, 128, 128);
}

.forgotContainer{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot{
    color: gray;
    cursor: pointer;
    transition: all 0.15s;
}

.forgot:hover{
    color: rgb(85, 85, 85);
}

.forgot:active{
    caret-color: rgb(78, 78, 78);
}

.signUpContainer{
    height: 7rem;
    width: 100%;
}

.subSignUpContainer{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpButtonContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpButton{
    height: 2.5rem;
    width: 10rem;
    background-color: transparent;
    border: solid gray 1px;
    border-radius: 5rem;
    font-size: 1rem;
    transition: all 0.15s;
}

.signUpButton:hover{
    background-color: black;
    color: white;
}

.signUpButton:active{
    background-color: gray;
}

.logInFormContainer1{
    height: 100%;
}

.imageContainer{
    display: none;
}

/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .subLogInFormContainer{
        width: 20rem;
    }

    .subContainer{
        height: 85%;
    }

    .imageContainer{
        display: none;
    }
}

/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .subLogInFormContainer{
        width: 20rem;
        height: 25.5rem;
        margin-top: 1.5rem;
    }

    .subContainer{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 75%;
    }

    .logoContainer{
        height: 3.5rem;
    }

    .subLogInFormContainer1{
        height: 3.5rem;
    }

    .logInFormContainer1{
        width: 50%;
    }

    .logInFormContainer{
        width: 50%;
        height: 100%;
        padding-top: 1rem;
    }

    .imageContainer{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgb(231, 139, 0);
    }

    .image{
        height: 100%;
        position: relative;
    }

    .backgroundContainer{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.87);
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .paragraphContainer{
        height: 7rem;
        width: 20rem;
        display: flex;
        align-items: center;
    }
    
    .paragraph{
        width: 14rem;
        color: white;
        font-size: 1.5rem;
    }

    .learnButtonContainer{
        height: 4rem;
        width: 20rem;
        display: flex;
        align-items: center;
    }

    .image1{
        height: 1rem;
    }

    .learnButton{
        height: 1.5rem;
        width: 6rem;
        background-color: transparent;
        border: solid snow 1px;
        color: white;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.15s;
    }

    .learnButton:hover{
        background-color: white;
        color: black;
    }

    .learnButton:active{
        background-color: rgb(163, 162, 162);
        color: black;
    }

}

/*pc*/
@media only screen and (min-width: 1441px){
    .subLogInFormContainer{
        width: 20rem;
    }

    .subContainer{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 85%;
    }

    .logInFormContainer1{
        width: 50%;
    }

    .logInFormContainer{
        width: 50%;
        height: 100%;
    }

    .imageContainer{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgb(231, 139, 0);
    }

    .image{
        height: 100%;
        position: relative;
    }

    .backgroundContainer{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.87);
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .paragraphContainer{
        height: 7rem;
        width: 20rem;
        display: flex;
        align-items: center;
    }
    
    .paragraph{
        width: 14rem;
        color: white;
        font-size: 1.5rem;
    }

    .learnButtonContainer{
        height: 4rem;
        width: 20rem;
        display: flex;
        align-items: center;
    }

    .image1{
        height: 1rem;
    }

    .learnButton{
        height: 1.5rem;
        width: 6rem;
        background-color: transparent;
        border: solid snow 1px;
        color: white;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.15s;
    }

    .learnButton:hover{
        background-color: white;
        color: black;
    }

    .learnButton:active{
        background-color: rgb(163, 162, 162);
        color: black;
    }
}
