*{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    overflow-x: hidden ;
}

.container{
    height: 54rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0,183,175);
}

.subContainer{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10rem;
    column-gap: 3rem;
    
}

.logoContainer{
    height: 100%;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer{
    position: relative;
    background-color: white;
    border-radius: 500rem;
    filter: drop-shadow(0px 0px 10px rgb(3, 94, 89));
}

.imageContainer1{
    height: 8rem;
    width: 100%;
    position: absolute;
    top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subImageContainer1{
    height: 100%;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer2{
    height: 7rem;
    position: absolute;
    width: 100%;
    top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subImageContainer2{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer3{
    height: 4.5rem;
    position: absolute;
    width: 100%;
    top: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subImageContainer3{
    height: 100%;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image3{
    height: 7.5rem;
    animation: bounce 1s linear;
}

.image2{
    height: 6rem;
    animation: bounce 0.7s linear;
}

.image1{
    height: 8rem;
    animation: bounce 0.9s linear;
}

.image{
    height: 20rem;
    animation: fadeIn 0.5s linear;
    margin: 0.2rem 0.2rem 0 0.2rem;
}

.image4{
    height: 13rem;
    transform: rotate(20deg);
    animation: floatAnimation 4s infinite, bounce 1s linear;
    filter: drop-shadow(5px 5px 10px rgb(3, 94, 89));
}

.image5{
    height: 13rem;
    transform: rotate(-20deg);
    animation: floatAnimation 5s infinite, bounce 1s linear;
    filter: drop-shadow(5px 5px 10px rgb(3, 94, 89));
}

.image6{
    height: 16rem;
    animation: floatAnimation 6s infinite, bounce 1.5s linear;
    filter: drop-shadow(5px 5px 10px rgb(3, 94, 89));
}

.image7{
    height: 13rem;
    animation: floatAnimation 4s infinite, bounce 1.5s linear;
    filter: drop-shadow(5px 5px 10px rgb(3, 94, 89));
}

.image8{
    animation: floatAnimation 5s infinite, bounce 2s linear;
    filter: drop-shadow(5px 5px 10px rgb(3, 94, 89));
}

.image9{
    height: 13rem;
    transform: rotate(-20deg);
    animation: floatAnimation 6s infinite, bounce 2s linear;
    filter: drop-shadow(5px 5px 10px rgb(3, 94, 89));
}

.hidden{
    display: none;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer1{
    height: 17rem;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 70rem;
}

.subContainer2{
    height: 17rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 70rem;
}

.imageContainer4{
    height: 100%;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translate(-10%, -10%) ;
    }
    50% {
        transform: translate(-10%, -50%);
    }
}

@keyframes fadeIn {
    0%{
        height: 200rem;
    }50%{
        height: 50rem;
    }100%{
        height: 20rem;
    }
}

@keyframes bounce {
    0%{
        height: 10rem;
    }20%{
        height: 5rem;
    }40%{
        height: 8rem;
    }60%{
        height: 10rem;
    }80%{
        height: 20rem;
    }100%{
        height: 10rem;
    }
}