.topContainer2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 64%;
    background-color: rgb(2, 116, 200);
    border-radius: 0.5rem 0.5rem 0 0;
}

.topContainer2 h2{
    margin-right: auto;
    color: #fff;
}

.topContainer2 img{
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
    margin-top: -0.2rem;
    filter: invert(100%);
}

.subContainer3 {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.container3 {
    width: 80%; 
}

.subContainer2 {
    justify-content: center;
    align-items: center; 
}

.imageContainer1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 19rem;
}

.subImageContainer1 {
    margin: auto; 
    text-align: center; 
}


.subOtherInfoContainer{
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 5rem;
}

.subInputInfoContainer2{
    padding-bottom: 1rem;
}

.subInputInfoContainer2 textarea{
    font-size: 1.2rem;
}

.buttonsContainer{
    margin-top: 6rem;
}

@media only screen and (max-width: 600px){
    .imageContainer1{
        margin-left: -2rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px){
    .imageContainer1{
        margin-left: 5.5rem; 
    }
}