.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 88.8%;
    background-color: rgb(2, 116, 200);
    border-radius: 0.5rem 0.5rem 0 0;
    margin-top: 2rem;
}

.topContainer h2{
    margin-right: auto;
    color: #fff;
}

.topContainer img{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2rem;
    filter: invert(100%);
}

.userContainer{
    height: 33rem;
    width: 87%;
    padding: 0.5rem;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-around;
    position: relative;
    padding: 1rem;
    flex-direction: column;
    border-radius: 0 0 0.5rem 0.5rem;
}

h2{
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #979595;
}

.top-right{
    display: flex;
    align-items: center;
}

.searchCon {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-items: center;
}

.searchCon #searchInput{
    height: 2rem;
    width: 15rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #ffffffa5;
    border: 1px solid #a6a6a6;
    padding-left: 1rem;
}   

.subUserContainer{
    height: 5rem;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    overflow: auto;
    cursor: pointer;
    margin-bottom: 1rem;
    border: #979595 solid 1px;
}

.imageContainer2{
    height: 100%;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subImageContainer2{
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    background-color: rgb(212, 212, 212);
}

.nameContainer1{
    height: 100%;
    width: 64.1%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.profile_img{
    height: 100%;
    width: 100%;
    border-radius: 5rem;
}

.link{
    width: 100%;
    height: 8rem;
    text-decoration: none;
    color: black;
}

.addIcon{
    height: 4rem;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
}

.subAddIcon{
    cursor: pointer;
    transition: all 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.addButton{
    height: 3rem;
    width: 9rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: rgb(2, 116, 200);
    transition: all 0.15s;
    border: solid gray 1px;
    cursor: pointer;
    background-color: #f7f7f7;
}

.addButton:hover{
    background: rgb(207, 224, 236);
}

.addButton:active{
    background-color: rgb(2, 116, 200);
    color: #f7f7f7;
}

/* Toggle */
#topContainer.sidebar{
    width: 31.9%;
    margin-left: 6rem; 
    margin-right: auto;
}

.userContainer.sidebar {
    width: 30%;
    margin-left: 6rem; 
    margin-right: auto;
}

.container2 {
    transition: margin-right 0.5s ease;
    margin-right: -100%; 
    position: fixed;
    top: 20%;
    right: 5%;
    width: 63rem; 
    height: 36.5rem;
    background-color: #fff;
    padding: 2rem 1rem;
    z-index: 999; 
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.container2.slideIn {
    margin-right: 0;
    text-align: center;
    border-radius: 0.5rem;
}

.profile_img_circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border: 2px solid #000;
}

#profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 p {
    margin: 0.5rem ;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}


#profileContainer .profile_img_circle {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.infoContainer{
    display: flex;
    margin-top: 1rem;
}

.infoGroup p{
    width: 18rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: none;
    border: #979595 1px solid;
}

#profileContainer button{
    background-color: rgb(2, 116, 200);
    border: 0.05rem solid #000;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    top: 1rem; 
    right: 1rem; 
    color: #fff;
}

#profileContainer button:hover{
    background-color: rgba(2, 117, 200, 0.297);
    color: #000;
}

#profileContainer button:active{
    background-color: rgba(2, 117, 200, 0.76);
}

a.link {
    color: #979595;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

a.link:hover {
    color: blue;
    text-decoration: underline;
}

/* Responsive */
@media only screen and (min-width: 600px) and (max-width: 800px){
    .topContainer {
        width: 93%;
    }
    
    .container2 {
        display: none;
        top: 26%;
        right: 10%;
        width: 30rem; 
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userContainer.sidebar {
        display: none;
    }

    #profileContainer{
        height: 30rem;
        overflow: auto;
        margin-top: -1rem;
        padding: 5rem 0rem;
    }

    .addIcon{
        margin-bottom: 1rem;
    }

    .infoContainer{
        flex-direction: column;
    }

    .infoGroup p{
        width: 20rem;
    }

    #profileContainer .profile_img_circle {
        width: 6rem;
        height: 6rem;
        margin-top: 5rem;
    }

    .container2 p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1024px) {
    .topContainer {
        width: 90.1%;
    }

    .userContainer.sidebar {
        width: 30%;
        margin-left: 5rem; 
    }

    .container2 {
        display: none;
        top: 22%;
        right: 8%;
        width: 30rem; 
        height: 30rem;
    }


    #profileContainer{
        height: 29rem;
        overflow-y: auto;
        margin-top: 0.1rem;
        padding: 5rem 0rem;
    }

    .infoContainer{
        flex-direction: column;
    }

    .infoGroup p{
        width: 20rem;
    }

    #profileContainer .profile_img_circle {
        width: 6rem;
        height: 6rem;
        margin-top: 5rem;
    }

    .container2 p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}
