.container2{
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{
    height: 39rem;
    width: 90%;
    border-radius: 0.5rem;
    background-color: rgba(255, 250, 250, 0.582);
    padding: 0.5rem;
    border: solid gray 1px;
}

.equipInfoContainer{
    height: 12rem;
    display: flex;
    flex-direction: row;
}

.imageContainer1{
    height:  100%;
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subImageContainer1{
    height: 90%;
    width: 90%;
    border-radius: 0.5rem;
    background-color: snow;
    position: relative;
    display: flex;
    align-items: center;
}

.infoContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
}

.equipNameContainer{
    height: 3rem;
    width: 98%;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: snow;
    padding-left: 0.5rem;
}

.damageContainer{
    height: 12rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.image3{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.nextRightContainer{
    position: absolute;
    height: 2rem;
    width: 1.5rem;
    background-color: rgba(151, 151, 151, 0.822);
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextLeftContainer{
    position: absolute;
    right: 0;
    height: 2rem;
    width: 1.5rem;
    background-color: rgba(151, 151, 151, 0.822);
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.budgetContainer{
    height: 100%;
    width: 100%;
}

.subBudgetContainer{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
}

.budget{
    height: 3rem;
    width: 100%;
    background-color: snow;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.maintenanceContainer{
    height: 10rem;
    margin-top: 1rem;
}

.subMaintenanceContainer{
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.maintenance{
    font-size: 1.3rem;
    font-weight: bold;
}

span{
    font-weight: bold;
}

.buttonContainer{
    height: 3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 0.5rem;
}

.button{
    height: 2.5rem;
    width: 5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(152,152,152);
    transition: all 0.15s;
    border: solid gray 1px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    background-color: rgb(189,189,189);
}

.button:active{
    background-color: rgb(124,124,124);
}

.button1{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5rem;
    border: none;
    background-color: rgb(152,152,152);
    transition: all 0.15s;
    border: solid gray 1px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1:hover{
    background-color: rgb(189,189,189);
}

.button1:active{
    background-color: rgb(124,124,124);
}

.image7{
    border-radius: 5rem;
    height: 100%;
    width: 100%;
}

.uploadImageContainer{
    height: 2rem;
    width: 9rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadImage{
    color: transparent;
    margin-left: 20%;
}

.inputName{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    overflow: auto;
    border: solid gray 1px;
}

/*laptop*/
@media only screen and (min-width: 1025px) {
    .subContainer{
        width: 50rem;
        height: 39rem;
    }
}