body{
    overflow: hidden;
}

.container2{
    /* outline: red dashed 1px; */
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 90%;
    background-color: rgb(2, 116, 200);
    border-radius: 0.5rem 0.5rem 0 0;
    margin-top: 2rem;
}

.searchCon {
    margin-right: 2rem;
    align-items: center;
    justify-items: center;
}

.searchCon #searchInput{
    height: 2rem;
    width: 15rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #ffffffa5;
    border: 1px solid #a6a6a6;
    padding-left: 1rem;
}

.topContainer .backbtn{
    background-color: transparent;
    border: none;
    margin-left: 2rem;
    cursor: pointer;
}

.backbtn img {
    filter: invert(100%);
}

.subContainer{
    /* outline: red dashed 1px; */
    height: 45rem;
    width: 90%;
    border-radius: 0.5rem;
    /* overflow: auto; */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.userInfoContainer{
    /* outline: red dashed 1px; */
    height: 10rem;
    border-bottom: solid gray 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5.5rem;
}

.imageContainer{
    /* outline: red dashed 1px; */
    height: 100%;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subImageContainer3{
    /* outline: red dashed 1px; */
    height: 7rem;
    width: 7rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
    border: #000 solid 0.2rem;
}

.profile_img{
    height: 100%;
    width: 100%;
    border-radius: 5rem;
}

.inforContainer{
    /* outline: red dashed 1px; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.001rem;
}

.subInfoContainer{
    /* outline: red dashed 1px; */
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.subInfoContainer #name{
    text-transform: uppercase;
    font-size: 1.5rem;
}

.graph{
    /* outline: red dashed 1px; */
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    row-gap: 0.001rem;
    margin-left: auto;
}

.bargraph{
    /* outline: red dashed 1px; */
    height: 90%;
    width: 50%;
    display: flex;
}

.piechart{
    /* outline: red dashed 1px; */
    height: 90%;
    width: 30%;
    display: flex;
}

.options{
    /* outline: red dashed 1px; */
    height: 70%;
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.transfer{
    /* outline: red dashed 1px; */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-block;
}

.transfer img,
.sort-unit img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.transfer img:hover,
.sort-unit img:hover{
    transform: scale(1.2);
}

.sort-unit{
    /* outline: red dashed 1px; */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    min-width: 10rem;
    max-height: 12.5rem; 
    overflow-y: auto; 
    margin-top: 0.5rem;
    right: 0;
    padding: 1.5rem;
    border-radius: 0.2rem;
}

.dropdown-content h5{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    border-bottom: #ccc solid 1px;
    padding-bottom: 0.5rem;
    color: rgb(2, 116, 200);
}

.dropdown-content a {
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.tableContainer1{
    /* outline: red dashed 1px; */
    height: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.subTableContainer{
    /* outline: red dashed 1px; */
    height: 48rem;
    width: 90%;
    background-color: #f7f7f7;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}


/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .subTableContainer{
        height: 28rem;
    }
}


/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .subTableContainer{
        height: 28rem;
    }
}


/*pc*/
@media only screen and (min-width: 1441px){
    .subTableContainer{
        height: 28rem;
    }
}