body{
    overflow: hidden;
}

.container2{
    /* outline: red dashed 1px; */
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 90%;
    background-color: rgb(2, 116, 200);
    border-radius: 0.5rem 0.5rem 0 0;
    margin-top: 2rem;
}

.topContainer h2{
    margin-right: auto;
    color: #fff;
}

.topContainer img{
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
    filter: invert(100%);
}

.topContainer .backbtn{
    background-color: transparent;
    border: none;
    margin-left: 2rem;
    cursor: pointer;
}

.backbtn img {
    filter: invert(100%);
}

.subContainer{
    /* outline: red dashed 1px; */
    height: 45rem;
    width: 90%;
    border-radius: 0.5rem;
    /* overflow: auto; */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.userInfoContainer{
    /* outline: red dashed 1px; */
    height: 10rem;
    border-bottom: solid gray 1px;
    display: flex;
    flex-direction: row;
}

.imageContainer{
    /* outline: red dashed 1px; */
    height: 100%;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}

.subImageContainer3{
    /* outline: red dashed 1px; */
    height: 7rem;
    width: 7rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
    border: #000 solid 0.2rem;
}

.profile_img{
    height: 100%;
    width: 100%;
    border-radius: 5rem;
}

.inforContainer{
    /* outline: red dashed 1px; */
    height: 100%;
    width: 57%;
    display: flex;
    flex-direction: column;
    row-gap: 0.001rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.subInfoContainer{
    /* outline: red dashed 1px; */
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: -1rem;
}

.subInfoContainer #name{
    text-transform: uppercase;
    font-size: 1.5rem;
}

.tableContainer1{
    /* outline: red dashed 1px; */
    height: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.subTableContainer{
    /* outline: red dashed 1px; */
    height: 48rem;
    width: 90%;
    background-color: #f7f7f7;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}


/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .subTableContainer{
        height: 28rem;
    }
}


/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .subTableContainer{
        height: 28rem;
    }
}


/*pc*/
@media only screen and (min-width: 1441px){
    .subTableContainer{
        height: 28rem;
    }
}