.container2{
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 61%;
    background-color: rgb(2, 116, 200);
    border-radius: 0.5rem 0.5rem 0 0;
}

.topContainer h2{
    margin-right: auto;
    color: #fff;
}

.topContainer img{
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
    filter: invert(100%);
}

#subContainer{
    height: 39rem;
    width: 60%;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
}

.equipInfoContainer{
    height: 12rem;
    display: flex;
    flex-direction: row;
}

.imageContainer1{
    height:  100%;
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subImageContainer1{
    height: 90%;
    width: 90%;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.infoContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
}

.equipNameContainer input{
    height: 3rem;
    width: 98%;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
    padding-left: 0.5rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.damageContainer{
    height: 12rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.image3{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.nextRightContainer{
    position: absolute;
    height: 2rem;
    width: 1.5rem;
    background-color: rgba(151, 151, 151, 0.822);
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextLeftContainer{
    position: absolute;
    right: 0;
    height: 2rem;
    width: 1.5rem;
    background-color: rgba(151, 151, 151, 0.822);
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    color: rgb(2, 116, 200);
}

.budgetContainer{
    height: 100%;
    width: 100%;
}

.subBudgetContainer{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
}

.budget{
    height: 3rem;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.maintenanceContainer{
    height: 10rem;
    margin-top: 1rem;
    overflow: auto;
}

.subMaintenanceContainer{
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.maintenance{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(2, 116, 200);
}

span{
    font-weight: bold;
}

.buttonContainer{
    height: 3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 0.5rem;
}

.button{
    height: 2.5rem;
    width: 5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(2, 116, 200);
    transition: all 0.15s;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.button1{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5rem;
    border: none;
    background-color: rgb(2, 116, 200);
    transition: all 0.15s;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

.button:hover,
.button1:hover{
    background-color: rgba(2, 117, 200, 0.297);
    color: #000;
}

.button:active,
.button1:active{
    background-color: rgba(2, 117, 200, 0.76);
}

.image7{
    border-radius: 5rem;
    height: 100%;
    width: 100%;
}

.uploadImageContainer{
    height: 2rem;
    width: 9rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadImage{
    color: transparent;
    margin-left: 20%;
}

.inputName{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    overflow: auto;
    border: solid gray 1px;
}

/*laptop*/
@media only screen and (min-width: 1025px) {
    .subContainer{
        width: 50rem;
        height: 39rem;
    }
}