.container4{
    outline: red dashed 1px;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{
    outline: red dashed 1px;
    height: 10rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color: rgb(224, 224, 224);
}

.warrantyContainer{
    height: 7rem;
    outline: red dashed 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem
}

span{
    font-weight: bold;
}

.buttonContainer{
    height: 3rem;
    outline: red dashed 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    background-color: rgb(152,152,152);
    transition: all 0.15s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(189,189,189);
}

button:active{
    background-color: rgb(124,124,124);
}